@model IEnumerable<Location>

@if (Model.Count() > 0) {
    <table class="table table-bordered table-striped">
        <tr><th>Id</th><th>Titel</th><th>Beskrivelse</th><th>Handlinger</th></tr>
        @foreach (Location l in Model) {
            <tr>
                <td width="5%">@l.LocationId</td><td width="15%">@l.Title</td><td width="58%">@l.Description</td>
                <td width="22%">
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="locationId" value="@l.LocationId" />
                        <a asp-action="CreateQR" class="btn btn-sm btn-primary" asp-route-locationId="@l.LocationId">
                            Generer QR Kode
                        </a>
                        <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-locationId="@l.LocationId">
                            Rediger
                        </a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Slet
                        </button>    
                    </form>
                </td>
            </tr>
        }
    </table>
    <div class="text-right">
        <a asp-controller="Location" asp-action="Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Opret lokation</a>
    </div>
}
else
{
    <div class="text-center">Ingen lokationer blev fundet.<br/><br/>
        <a asp-controller="Location" asp-action="Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Opret lokation</a>
    </div>
}