@model AssignmentSetListViewModel
@{
    ViewBag.Title = "Opgaveliste";
}

<div class="panel-group">
@if(Model.PrivateAssignmentSets.Count() != 0){
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#PrivateAssignmentSets">Dine egne opgavesæt</a>
      </h4>
    </div>
    <div id="PrivateAssignmentSets" class="panel-collapse collapse">
      <ul class="list-group">
          @foreach(AssignmentSet assignmentSet in Model.PrivateAssignmentSets)
          {
              <li class="list-group-item">@assignmentSet.Title 
                <a asp-controller="Coupling" asp-action="ChooseClass" asp-route-currentSchoolId="@Model.CurrentSchoolId" class="btn btn-xs btn-success pull-right">Tildel</a>
                @if(assignmentSet.Assignments.Count() != 0)
                {
                  <ul>
                    @foreach(Assignment assignment in assignmentSet.Assignments)
                    {   
                      <li>@assignment.Text</li>
          
                    }
                    </ul>
                }
              </li>
          }

      </ul>
    </div>
  </div>
}
@if(Model.InternalAssignmentSets.Count() != 0){
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#InternalAssignmentSets">Skolen opgavesæt</a>
      </h4>
    </div>
    <div id="InternalAssignmentSets" class="panel-collapse collapse">
      <ul class="list-group">
          @foreach(AssignmentSet assignmentSet in Model.InternalAssignmentSets)
          {
              <li class="list-group-item">@assignmentSet.Title 
              <a asp-controller="Coupling" asp-action="ChooseClass" asp-route-currentSchoolId="@Model.CurrentSchoolId" class="btn btn-xs btn-success pull-right">Tildel</a></li>
          }

      </ul>
    </div>
  </div>
}

@if(Model.PublicAssignmentSets.Count() != 0){
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#PublicAssignmentSets">Offentlige opgavesæt</a>
      </h4>
    </div>
    <div id="PublicAssignmentSets" class="panel-collapse collapse">
      <ul class="list-group">
          @foreach(AssignmentSet assignmentSet in Model.PublicAssignmentSets)
          {
              <li class="list-group-item">@assignmentSet.Title 
              <a asp-controller="Coupling" asp-action="ChooseClass" asp-route-currentSchoolId="@Model.CurrentSchoolId" class="btn btn-xs btn-success pull-right">Tildel</a>
              </li>
          }

      </ul>
    </div>
  </div>
}



</div>