@model PersonAndAssignmentViewModel
<div class="container">
    <h2>Opgave tildeling</h2>
    <p>Vær venlig at vælge de forskellige opgavetildelinger</p>
    @if (true)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Klasser</th>
                    <th>Opgavesæt</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Persons.ToList().Count() || i < Model.AssignmentSets.ToList().Count(); i++)
                {
                    @if ((i <= Model.Persons.ToList().Count() -1) && (i <= Model.AssignmentSets.ToList().Count() -1))
                    {
                        <tr>
                            <td>
                                <label><input type="checkbox" value="">Student Username: @Model.Persons.ElementAt(i).UserName</label>
                            </td>
                            <td>
                                <label><input type="checkbox" value="">AssignmentSet Title: @Model.AssignmentSets.ElementAt(i).Title</label>
                                @for (int b = 0; b < @Model.AssignmentSets.ElementAt(i).Assignments.Count(); b++)
                                {
                                    <label><input type="checkbox" value="">Assignment Title: @Model.AssignmentSets.ElementAt(i).Assignments[b].Title</label>
                                }
                            </td>
                        </tr>
                    }
                    else if ((i <= Model.Persons.ToList().Count() -1) && !(i <= Model.AssignmentSets.ToList().Count() -1))
                    {
                        <tr>
                            <td>
                                <label><input type="checkbox" value="">Student Username: @Model.Persons.ElementAt(i).UserName</label>
                            </td>
                            <td>
                                @*SKAL VÆRE TOM*@
                            </td>
                        </tr>
                    }
                    else if (!(i <= Model.Persons.ToList().Count() -1) && (i <= Model.AssignmentSets.ToList().Count() -1))
                    {
                        <tr>
                            <td>
                                @*SKAL VÆRE TOM*@
                            </td>
                            <td>
                                <label><input type="checkbox" value="">AssignmentSet Title: @Model.AssignmentSets.ElementAt(i).Title</label>
                                @for (int b = 0; b < @Model.AssignmentSets.ElementAt(i).Assignments.Count(); b++)
                                {
                                    <label><input type="checkbox" value="">Assignment Title: @Model.AssignmentSets.ElementAt(i).Assignments[b].Title</label>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <div>No student or Assignments found</div>
    }
</div>