@model IEnumerable<IdentityRole>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <a class="btn btn-success" asp-action="Create"><span class="glyphicon glyphicon-plus"></span> Opret ny rolle</a>
        <br /><br />
        <p>Tryk på rollerne for at se indholdet:</p>
        @foreach (var role in Model)
        {
            <div class="panel-group">

                <div class="panel panel-default">
                    <div class="panel-heading" style="background: #428bca; color: white; height: 47px">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#@role.Name">
                                @role.Name
                            </a>

                            <form asp-action="Delete" asp-route-id="@role.Id" method="post" style="float: right">
                                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@role.Id">Administrer @role.Name</a>
                                <button type="submit" class="btn btn-sm btn-danger">Slet</button>
                            </form>
                        </h4>
                    </div>

                    <div id="@role.Name" class="panel-collapse collapse">
                        <ul identity-role="@role.Id" class="list-group"></ul>
                    </div>
                </div>


            </div>
        }
    </div>
</div>
