<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <link rel="stylesheet" type="text/css" href="~/custom/css/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="~/custom/css/csscustom.css">


    <script asp-src-include="lib/jquery/**/jquery.min.js"></script>
    <script asp-src-include="lib/jquery-validation/**/jquery.validate.min.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/**/*.min.js"></script>
    <script asp-src-include="js/addTextbox.js"></script>

    <title>@ViewBag.Title - ADL</title>
</head>

<body>

    
    
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
<<<<<<< HEAD
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">ADL</a>
=======
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">ADL</a>
>>>>>>> 82fbff588a4524a34495c5fbc8eb9eedd42ef52a
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Assignment" asp-action="Create"><span class="glyphicon glyphicon-plus"></span> Opret opgavesæt</a></li>
                    <li><a asp-controller="Assignment" asp-action="AssignmentSetList"><span class="glyphicon glyphicon-paperclip"></span> Opgavebibliotek</a></li>
                    <li><a  asp-controller="Location" asp-action="List"><span class="glyphicon glyphicon-map-marker"></span> Lokationer</a></li>
                    <li><a asp-controller="Statistics" asp-action="Index"><span class="glyphicon glyphicon-stats"></span> Statistik</a></li>
<<<<<<< HEAD
                    @if (this.User.Identity.Name == "Admin")
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-wrench"></span> Adminpanel <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Class" asp-action="Create">Opret klasse</a></li>
                                <li><a asp-controller="Class" asp-action="List">Klasseliste</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a asp-controller="RoleAdmin" asp-action="Index">Rolle administration</a></li>
                            </ul>
                        </li>
                    }
=======
                    
                    @if (this.User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Class" asp-action="Create">Lav ny klasse</a></li>
                                <li><a asp-controller="Class" asp-action="List">Se alle klasser</a></li>
                                <li class="divider" role="separator"></li>
                                <li><a asp-controller="RoleAdmin" asp-action="Index">Giv roller</a></li>
                            </ul>
                        </li>
                    <!--DROPDOWN MENU-->
                    }
                    
>>>>>>> 82fbff588a4524a34495c5fbc8eb9eedd42ef52a
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (this.User.Identity.Name == null)
                    {
                        <li class="login-button"><a asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Log ind</a></li>
                    }
                    else
                    {
                        <li><a a asp-controller="Home" asp-action="Index">Hej @this.User.Identity.Name! </a></li>
                        <li class="logout-button"><a asp-controller="Account" asp-action="Logout"><span class="glyphicon glyphicon-log-out"></span> Log ud</a></li>
                    }

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    
    



<div class="container body-content" style="padding-top: 70px">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    @if (TempData["errorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["errorMessage"]</div>
    }
    @RenderBody()
    <hr/>
    <footer>
        <p class="text-center">&copy; 2016 - e309, Aalborg Universitet</p>
    </footer>
</div>
<script src="/js/AssignmentSetCreation.js"></script>

</body>
</html>