@model Answer

@{
    ViewBag.Title = "Opgaveløsning";
}

<div class="panel panel-succes">
    <div class="panel-heading text-center">
        <h4>Løs en opgave</h4>
    </div>
    <div class="panel-body">
        <div>
            <p>@Model.AnsweredAssignment.Headline</p>
            <p>@Model.AnsweredAssignment.Question</p>
            <p>Vælg en!</p>
        </div>
        <form class="p-a-1" asp-action="Solve" method="POST">
            <input type="hidden" value="@Model.AnsweredAssignment" asp-for="AnsweredAssignment" />
            <input type="hidden" value="@System.DateTime.Now" asp-for="TimeAnswered" />
            <div class="form-group">
                <label asp-for="ChosenAnswerOption">Vælg dit svar:</label>
                <select class="form-control" asp-for="ChosenAnswerOption">
                    @foreach(AnswerOption ao in Model.AnsweredAssignment.AnswerOptions)
                    {
                        if(ao.Text != "")
                        {
                            <option value="@ao">@ao.Text</option>
                        }
                    }
                    </select>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Besvar</button>
            </div>
        </form>
    </div>
</div>